* {
  font-family: Verdana;
  padding: 0;
  margin: 0; }

body {
  background: #111; }

.main_container {
  width: 100%;
  margin: auto; }

.top_border, .bottom_border, .content_container {
  margin: auto;
  display: block; }

.bottom_border {
  margin-top: 20px; }

.top_border, .bottom_border {
  width: 870px;
  height: 15px; }
  .top_border p, .bottom_border p {
    color: #888;
    font-size: 10px;
    margin-right: 45px;
    text-align: right; }
    .top_border p a, .bottom_border p a {
      color: #DA5659; }
      .top_border p a:visited, .bottom_border p a:visited {
        color: #DA5659; }

.content_container {
  width: 840px;
  padding: 0 15px; }
  .content_container div {
    float: right;
    margin-top: -40px; }

.description p {
  clear: right;
  color: white;
  margin: 0px auto;
  width: 460px; }

.menu_head {
  display: block; }

ul.idTabs {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.idTabs li {
    height: 20px;
    width: 185px; }
  ul.idTabs a {
    background: #444;
    color: white;
    display: block;
    margin: 1px 1px 1px 0px;
    margin-left: 0px;
    padding: 3px 10px;
    font-size: 12px;
    text-decoration: none !important; }
    ul.idTabs a.selected {
      background: #CCC;
      color: black;
      cursor: default; }
    ul.idTabs a:hover {
      background: snow;
      color: black; }
